h1 {
    text-align: center;
    margin-bottom: 0;
}

#ui {
    display: flex;
    align-items: center;
    justify-content: center;
}

#controls {
    padding: 2em;
    text-align: center;
}

#grid {
    display: grid;
    width: 650px;
    height: 650px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: solid 1px black;

    /* Set the size of each cell element */
    /* grid-auto-rows: 1em; */
    /* grid-auto-columns: 1em; */
}

.cell {
    /* border: 1px black solid; */
    width: 1fr;
    height: 1fr;
}

/* .cell:hover {
    background-color: black;
} */